body{background-color: rgb(3, 105, 71);
    padding: 0px;
    margin: 0px;}
#xxx2{list-style: none;
        margin-top: -60px;
        margin-left: 180px; 
   }
#ee{display: inline-block;
      padding: 7px 14px;
      border-right:2px solid red;}
a:link{ text-decoration: none;
       color: red;
   }
 a:hover{text-decoration: none;
         background-color: blueviolet;
         color: firebrick;
        }